body {
    background-color: coral;
    font-family: 'Lora', serif;
}

#projectspage {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: dotted 1px black;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
}
.card img {
    width: 200px;
}

.card p {
    align-self: center;
}