@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
    height: fit-content;
    background-color: transparentize($color: #212529, $amount: 0.06);
    font-family: 'Lora', serif;
}
#mynavbar {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    a {
      color:white;
    }
  }
  
  .nav>li>a:hover {
    color: red;
    background-color: inherit;
    cursor: pointer;
}
.header-container {
    width: 100%;
    height: 100%;
    background-image: url("../images/PBCover.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0;
}
.header-block {
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.header-text {
    width: 100%;
}
.header-text h1 {
    margin-bottom: 0.1em;
    margin-top: 0.4em;
    font-size: 5em;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: 2px;
}
.header-text h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    font-size: 1.7em;
    margin-top: 0.3em;
}
.header-text div {
    margin: 0;
    top: 50%;
    left: 50%;
    text-align: center;
}

.header-text .border-line {
    margin: auto;
    width: 30%;
    height: 4px;
    background-color: #FFD1C1;
}
.header-text .arrow {
    margin: 0;
    position: absolute;
    top: 94%;
    left: 50%;
    text-align: center;
    width: 100%;

}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.arrow {
    margin-top: 0;
    padding-bottom: 1em;
    padding-top: 0;
        .fa {
        margin-top: 0;
        padding-top: 0;
        }
}

.bio-container {
    height: 75vh;

}
#about {
    color: white;
    padding-bottom: 5em;
    padding-top: 2em;
}
.paragraph-container {
    height: fit-content;
}
#about .section-heading {
    font-size: 3em;
    font-family: 'Libre Baskerville', serif;
}
#about .border-line {
    position: relative;
    width: 50%;
    height: 4px;
    background-color: #FFD1C1;
    margin: 0 auto;
   
}
#about .bio-par {
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 0.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-left: 4em;
    padding-top: 0;
    padding-bottom: 0;

    
}
.proile-pic {
    border-radius: 85px;
    width: 85%;
    margin-top: 5em;
}

#projects {
    background-image: url("../images/eberhard-grossgasteiger-47g-IDWhlCc-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5em;
}

#projects .section-heading {
    font-size: 3em;
    font-family: 'Libre Baskerville', serif;
    padding-top: 1.6em;
    color:white;
}
#projects .border-line {
    position: relative;
    width: 50%;
    height: 4px;
    background-color: #FFD1C1;
    margin: 0 auto;
    
   
}
#projects .card {
    display: flex;
    color: white;
    flex-direction: column;
    width: 300px;
    border: dotted 1px black;
    margin-bottom: 10px;
    align-items: center;
    text-align: center;
    background-color: transparentize($color: #212529, $amount: 0.3);
    border-style: none;
    border-radius: 0;
    font-weight: lighter;
    color:white;
    padding-top: 1em;
}
#projects .card img {
    width: 200px;
}

#projects .card p {
    align-self: center;
    padding-left: 1em;
    padding-right: 1em;
    font-family: 'Oswald', sans-serif;
    

}
h2 {
    font-family: 'Oswald', sans-serif;
}
#technologies .section-heading {
    font-size: 3em;
    font-family: 'Libre Baskerville', serif;
    padding-top: 3em;
    margin-top: 1em;
    color:white;
}
#technologies .border-line {
    position: relative;
    width: 50%;
    height: 4px;
    background-color: #FFD1C1;
    margin: 0 auto;
   
}
#technologies .card {
    font-size: 6em;
    padding: 15px;
    margin: 10px;
    background-color: transparent;
    border: none;

}
i {
    color:white;
    
}
#contact {
    padding-bottom: 8em;
}
#contact .section-heading {
    font-size: 3em;
    font-family: 'Libre Baskerville', serif;
    padding-top: 3em;
    margin-top: 1em;
    color:white;
}
#contact .border-line {
    position: relative;
    width: 50%;
    height: 4px;
    background-color: #FFD1C1;
    margin: 0 auto;
   
}
#contact .card {
    font-size: 6em;
    padding: 15px;
    margin: 10px;
    background-color: transparent;
    border: none;
}